  
  /* profile */
  .bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39);
  }
  .py-8 {
    /* margin-left: 256px; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 915px;
    background-color: #111827;
  }
    .shadow {
      --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0%), 0 1px 2px -1px rgb(0 0 0 / 0.1);
      --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      background-color: #1f2937;
  }
  .relative.bg-white.rounded-lg.overflow-hidden.max-w-md.p-6.mx-4 {
    width: 1000px;
    background-color: #1f2937;
  }
  textarea#bio {
    height: 131px;
  }
  h2.updateprofile {
    color: #ffffff;
    font-weight: 800;
    text-align: center;
  }
  .text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(170 171 173);
  }
  
 